.container {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}

.card {
  background-color: white;
  border-radius: 5px;
  box-shadow: var(--gray-shadow);
  margin-top: 100px;
  padding: 20px;
  width: 400px;
}

.card__introduction {
  margin: 0 0 15px 0;
}
