.navigation {
  align-items: center;
  background-color: white;
  border-radius: 5px;
  box-shadow: var(--gray-shadow);
  display: flex;
  flex-direction: column;
  left: 10px;
  padding: 0;
  position: fixed;
  top: 50px;
  z-index: 1;
}

@media screen and (max-width: 1090px) {
  .navigation {
    bottom: 0px;
    left: initial;
    top: initial;
    width: 100%;
  }
}

.navigation ul {
  color: black;
  font-size: 15px;
  font-weight: 600;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

.navigation li {
  padding: 15px 20px;
}

.navigation li:first-child:hover,
.navigation li:last-child:hover {
  background-color: aliceblue;
}

.navigation li:first-child {
  border-radius: 5px 5px 0 0;
}

.navigation li:last-child {
  border-radius: 0 0 5px 5px;
}

.navigation a {
  text-decoration: none;
}
